h1{
    color: #0288d1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    color: #6fe441;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}